@* @model BankApp.Models. *@

@{
    ViewData["Title"] = "Payments";
}

<div class="text-center">
    <h1 class="display-4">Payments</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var item in Model.Payments!)
        {
        } *@
    </tbody>
</table>